# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject .eot
AddOutputFilterByType DEFLATE font/ttf .ttf
AddOutputFilterByType DEFLATE font/otf .otf
AddOutputFilterByType DEFLATE application/x-font-woff .woff

AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType application/x-font-woff .woff

# Or, compress certain file types by extension:
<Files *.php>
SetOutputFilter DEFLATE
</Files>

# Set php.ini settings.
php_value  upload_max_filesize  120M
php_value  post_max_size  120M 

<IfModule mod_rewrite.c>

#FollowSymlinks is turned on and Indexes is turned off.
#Indexes off prevents the directory structure of a directory without an index file from displaying.
Options +FollowSymlinks -Indexes

RewriteEngine On

#Send a forbidden message to anyone attempting to access the .htaccess file on the server.
RewriteRule ^.htaccess$ [F]

#This condition disables include injection through the URL.
RewriteCond %{QUERY_STRING} (.*)(http|https|ftp):\/\/(.*)
RewriteRule ^(.+)$ - [F]

##################
# Admin Rewrites #
##################

RewriteRule ^rbadmin/?$ index.php?controller=admin-login [L,QSA]
RewriteRule ^rbadmin/dashboard/?$ index.php?controller=admin-dashboard [L,QSA]

RewriteRule ^rbadmin/articles/?$ index.php?controller=admin-articles [L,QSA]
RewriteRule ^rbadmin/articles/p1/?$ /rbadmin/articles/ [R=302,L]
RewriteRule ^rbadmin/articles/p([^/]*)/?$ index.php?page=$1&controller=admin-articles [L,QSA]
RewriteRule ^rbadmin/articles/([^/]*)/edit/?$ index.php?controller=admin-article-profile&section=articles&id=$1 [L,QSA]
RewriteRule ^rbadmin/articles/new/?$ index.php?controller=admin-article-profile&section=articles [L,QSA]
RewriteRule ^rbadmin/articles/revision/([^/]*)/([^/]*)/?$ index.php?controller=admin-article-revisions&section=articles&id=$1&articleId=$2 [L,QSA]
RewriteRule ^rbadmin/articles/revision/([^/]*)/([^/]*)/([^/]*)/([^/]*)/?$ index.php?controller=admin-article-revisions&section=articles&Id=$1&articleid=$2&compare=$3&granularity=$4 [L,QSA]

RewriteRule ^rbadmin/categories/?$ index.php?controller=admin-categories [L,QSA]
RewriteRule ^rbadmin/categories/p1/?$ /rbadmin/categories/ [R=302,L]
RewriteRule ^rbadmin/categories/p([^/]*)/?$ index.php?page=$1&controller=admin-categories [L,QSA]
RewriteRule ^rbadmin/categories/new/?$ index.php?controller=admin-category-profile&section=categories [L,QSA]
RewriteRule ^rbadmin/categories/([^/]*)/?$ index.php?controller=admin-category-profile&section=categories&id=$1 [L,QSA]

RewriteRule ^rbadmin/comments/?$ index.php?controller=admin-comments&section=articles [L,QSA]
RewriteRule ^rbadmin/comments/p1/?$ /rbadmin/comments [R=302,L]
RewriteRule ^rbadmin/comments/p([^/]*)/?$ index.php?page=$1&controller=admin-comments&section=articles [L,QSA]
RewriteRule ^rbadmin/comments/([^/]*)/p1/?$ /rbadmin/comments/$1 [R=302,L]
RewriteRule ^rbadmin/comments/([^/]*)/p([^/]*)/?$ index.php?page=$2&controller=admin-comments&section=articles&title=$1 [L,QSA]
RewriteRule ^rbadmin/comments/([^/]*)/?$ index.php?controller=admin-comments&section=articles&title=$1 [L,QSA]
RewriteRule ^rbadmin/comments/([^/]*)/edit/?$ index.php?controller=admin-comment-profile&section=articles&id=$1 [L,QSA]

RewriteRule ^rbadmin/config/?$ index.php?controller=admin-config [L,QSA]
RewriteRule ^rbadmin/config/([^/]*)/?$ index.php?controller=admin-config&setting=$1 [L,QSA]
RewriteRule ^rbadmin/config/content-filtering/new/?$ index.php?controller=admin-config&setting=content-filtering&action=new [L,QSA]
RewriteRule ^rbadmin/config/content-filtering/([^/]*)/edit/?$ index.php?controller=admin-config&setting=content-filtering&format=$1&action=edit [L,QSA]

RewriteRule ^rbadmin/dashboard/?$ index.php?controller=admin-dashboard [L,QSA]

RewriteRule ^rbadmin/forums/?$ index.php?controller=admin-forums [L,QSA]
RewriteRule ^rbadmin/forums/section/new?$ index.php?controller=admin-forum-section-profile [L,QSA]
RewriteRule ^rbadmin/forums/new/?$ index.php?controller=admin-forum-profile [L,QSA]
RewriteRule ^rbadmin/forums/section/([^/]*)/?$ index.php?controller=admin-forum-section-profile&id=$1 [L,QSA]
RewriteRule ^rbadmin/forums/moderators/new/?$ index.php?controller=admin-forum-moderator-profile [L,QSA]
RewriteRule ^rbadmin/forums/moderators/([^/]*)/?$ index.php?controller=admin-forum-moderator-profile&id=$1 [L,QSA]
RewriteRule ^rbadmin/forums/attachments?$ index.php?controller=admin-forum-attachments [L,QSA]
RewriteRule ^rbadmin/forums/([^/]*)/?$ index.php?controller=admin-forum-profile&id=$1 [L,QSA]

RewriteRule ^rbadmin/links/?$ index.php?controller=admin-links [L,QSA]
RewriteRule ^rbadmin/links/p1/?$ rbadmin/links [R=302,L]
RewriteRule ^rbadmin/links/p([^/]*)/?$ index.php?page=$1&controller=admin-links&section=links [L,QSA]
RewriteRule ^rbadmin/links/new/?$ index.php?controller=admin-link-profile&section=links [L,QSA]
RewriteRule ^rbadmin/links/([0-9]*)/?$ index.php?controller=admin-link-profile&section=links&id=$1 [L,QSA]
RewriteRule ^rbadmin/links/categories/?$ index.php?controller=admin-link-categories&section=links [L,QSA]
RewriteRule ^rbadmin/links/categories/new/?$ index.php?controller=admin-link-category-profile&section=links [L,QSA]
RewriteRule ^rbadmin/links/categories/([0-9]*)/?$ index.php?controller=admin-link-category-profile&section=links&id=$1 [L,QSA]

RewriteRule ^rbadmin/media/?$ index.php?controller=admin-media [L,QSA]
RewriteRule ^rbadmin/media/p1/?$ /rbadmin/media/ [R=302,L]
RewriteRule ^rbadmin/media/p([^/]*)/?$ index.php?page=$1&controller=admin-media [L,QSA]
RewriteRule ^rbadmin/upload/?$ index.php?controller=admin-media-upload&section=media [L,QSA]
RewriteRule ^rbadmin/media/([^/]*)/?$ index.php?controller=admin-media-profile&section=media&id=$1 [L,QSA]

RewriteRule ^rbadmin/menus/?$ index.php?controller=admin-menus [L,QSA]
RewriteRule ^rbadmin/menus/new/?$ index.php?controller=admin-menu-profile&section=menus [L,QSA]
RewriteRule ^rbadmin/menus/([^/]*)/?$ index.php?controller=admin-menu-profile&section=menus&id=$1 [L,QSA]

RewriteRule ^rbadmin/messages/?$ index.php?controller=admin-messages&tab=messages [L,QSA]
RewriteRule ^rbadmin/notifications/?$ index.php?controller=admin-messages&tab=notifications [L,QSA]
RewriteRule ^rbadmin/notification-options/?$ index.php?controller=admin-messages&tab=notification-options [L,QSA]

RewriteRule ^rbadmin/pages/?$ index.php?controller=admin-pages [L,QSA]
RewriteRule ^rbadmin/pages/p1/?$ /rbadmin/pages/ [R=302,L]
RewriteRule ^rbadmin/pages/p([^/]*)/?$ index.php?page=$1&controller=admin-pages [L,QSA]
RewriteRule ^rbadmin/pages/new/?$ index.php?controller=admin-page-profile&section=pages [L,QSA]
RewriteRule ^rbadmin/pages/templates/?$ index.php?controller=admin-page-templates&section=pages [L,QSA]
RewriteRule ^rbadmin/pages/templates/new/?$ index.php?controller=admin-page-template-profile&section=pages [L,QSA]
RewriteRule ^rbadmin/pages/templates/([^/]*)/?$ index.php?controller=admin-page-template-profile&section=pages&id=$1 [L,QSA]
RewriteRule ^rbadmin/pages/([^/]*)/?$ index.php?controller=admin-page-profile&section=pages&id=$1 [L,QSA]
RewriteRule ^rbadmin/pages/revision/([^/]*)/([^/]*)/?$ index.php?controller=admin-page-revisions&section=pages&id=$1&pageId=$2 [L,QSA]
RewriteRule ^rbadmin/pages/revision/([^/]*)/([^/]*)/([^/]*)/([^/]*)/?$ index.php?controller=admin-page-revisions&section=pages&id=$1&pageId=$2&compare=$3&granularity=$4 [L,QSA]

RewriteRule ^rbadmin/photogallery/?$ index.php?controller=admin-photo-gallery [L,QSA]
RewriteRule ^rbadmin/photogallery/p1/?$ /rbadmin/photogallery/ [R=302,L]
RewriteRule ^rbadmin/photogallery/p([^/]*)/?$ index.php?page=$1&controller=admin-photo-gallery [L,QSA]
RewriteRule ^rbadmin/photogallery/new/?$ index.php?controller=admin-photo-gallery-album-profile&section=photo-gallery [L,QSA]
RewriteRule ^rbadmin/photogallery/([^/]*)/edit/?$ index.php?controller=admin-photo-gallery-album-profile&section=photo-gallery&album=$1 [L,QSA]
RewriteRule ^rbadmin/photogallery/([^/]*)/?$ index.php?controller=admin-photo-gallery-album-images&section=photo-gallery&album=$1 [L,QSA]
RewriteRule ^rbadmin/photogallery/([^/]*)/([^/]*)/?$ index.php?controller=admin-photo-gallery-image-profile&section=photo-gallery&album=$1&photo=$2 [L,QSA]

RewriteRule ^rbadmin/profile/?$ index.php?controller=admin-profile [L,QSA]

#Begin Admin Modules
RewriteRule ^rbadmin/plugins/?$ index.php?controller=admin-plugins [L,QSA]
RewriteRule ^rbadmin/plugins/([^/]*)/?$ index.php?controller=admin-plugin-profile&plugin=$1 [L,QSA]
#End Admin Modules

RewriteRule ^rbadmin/tags/?$ index.php?controller=admin-tags [L,QSA]
RewriteRule ^rbadmin/tags/p1/?$ /rbadmin/tags/ [R=302,L]
RewriteRule ^rbadmin/tags/p([^/]*)/?$ index.php?page=$1&controller=admin-tags [L,QSA]
RewriteRule ^rbadmin/tags/new/?$ index.php?controller=admin-tag-profile&section=tags&action=new [L,QSA]
RewriteRule ^rbadmin/tags/([^/]*)/?$ index.php?controller=admin-tag-profile&section=tags&tag=$1 [L,QSA]

RewriteRule ^rbadmin/users/?$ index.php?controller=admin-users [L,QSA]
RewriteRule ^rbadmin/users/p1/?$ /rbadmin/users/ [R=302,L]
RewriteRule ^rbadmin/users/p([^/]*)/?$ index.php?page=$1&controller=admin-users [L,QSA]
RewriteRule ^rbadmin/users/new/?$ index.php?controller=admin-user-profile&section=users [L,QSA]
RewriteRule ^rbadmin/users/([^/]*)/edit/?$ index.php?controller=admin-user-profile&section=users&id=$1 [L,QSA]
RewriteRule ^rbadmin/users/roles/?$ index.php?controller=admin-roles&section=users [L,QSA]
RewriteRule ^rbadmin/users/roles/new/?$ index.php?controller=admin-role-profile&section=users [L,QSA]
RewriteRule ^rbadmin/users/roles/([^/]*)/?$ index.php?controller=admin-roles&section=users&role=$1 [L,QSA]

#Independent Controllers
RewriteRule ^rbadmin/media-upload-controller/?$ index.php?controller=media-file-upload [L,QSA]



###################
# Client Rewrites # 
###################

RewriteRule ^article/([^/]*)/?$ index.php?controller=articles&title=$1 [L,QSA]

RewriteRule ^forums/?$ index.php?controller=forums [L,QSA]
RewriteRule ^forums/([^/]*)/([^/]*)/?$ index.php?controller=forum-topics&forum=$1&id=$2 [L,QSA]
RewriteRule ^forums/topic/([^/]*)/([^/]*)/?$ index.php?controller=forum-posts&topic=$1&id=$2 [L,QSA]
RewriteRule ^forums/topic/([^/]*)/([^/]*)/page-([^/]*)/?$ index.php?controller=forum-posts&topic=$1&id=$2&page=$3 [L,QSA]
RewriteRule ^forums/topic/([^/]*)/([^/]*)/([^/]*)/?$ index.php?controller=forum-posts&topic=$1&id=$2&postId=$3 [L,QSA]
RewriteRule ^forums/user/([^/]*)/([^/]*)/?$ index.php?controller=forum-user&username=$1&userId=$2 [L,QSA]

RewriteRule ^cpanel/([^/]*)/?$ index.php?controller=user-cpanel&tab=$1 [L,QSA]
RewriteRule ^cpanel/?$ index.php?controller=user-cpanel [L,QSA]

#Route all traffic through the index controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]*)/([^/]*)/?$ index.php?controller=$1&section=$2 [L,QSA]
RewriteRule ^([^/]*)/?$ index.php?controller=$1 [L,QSA]

</IfModule>
