/* CSS Document */
.sprite-_blank{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-_page{ background-position: -18px 0; width: 16px; height: 16px; } 
.sprite-aac{ background-position: -36px 0; width: 16px; height: 16px; } 
.sprite-ai{ background-position: -54px 0; width: 16px; height: 16px; } 
.sprite-aiff{ background-position: -72px 0; width: 16px; height: 16px; } 
.sprite-avi{ background-position: -90px 0; width: 16px; height: 16px; } 
.sprite-bmp{ background-position: -108px 0; width: 16px; height: 16px; } 
.sprite-c{ background-position: -126px 0; width: 16px; height: 16px; } 
.sprite-cpp{ background-position: -144px 0; width: 16px; height: 16px; } 
.sprite-css{ background-position: -162px 0; width: 16px; height: 16px; } 
.sprite-dat{ background-position: -180px 0; width: 16px; height: 16px; } 
.sprite-dmg{ background-position: -198px 0; width: 16px; height: 16px; } 
.sprite-doc{ background-position: -216px 0; width: 16px; height: 16px; } 
.sprite-dotx{ background-position: -234px 0; width: 16px; height: 16px; } 
.sprite-dwg{ background-position: -252px 0; width: 16px; height: 16px; } 
.sprite-dxf{ background-position: -270px 0; width: 16px; height: 16px; } 
.sprite-eps{ background-position: -288px 0; width: 16px; height: 16px; } 
.sprite-exe{ background-position: -306px 0; width: 16px; height: 16px; } 
.sprite-flv{ background-position: -324px 0; width: 16px; height: 16px; } 
.sprite-gif{ background-position: -342px 0; width: 16px; height: 16px; } 
.sprite-h{ background-position: -360px 0; width: 16px; height: 16px; } 
.sprite-hpp{ background-position: -378px 0; width: 16px; height: 16px; } 
.sprite-html{ background-position: -396px 0; width: 16px; height: 16px; } 
.sprite-ics{ background-position: -414px 0; width: 16px; height: 16px; } 
.sprite-iso{ background-position: -432px 0; width: 16px; height: 16px; } 
.sprite-java{ background-position: -450px 0; width: 16px; height: 16px; } 
.sprite-jpg{ background-position: -468px 0; width: 16px; height: 16px; } 
.sprite-key{ background-position: -486px 0; width: 16px; height: 16px; } 
.sprite-mid{ background-position: -504px 0; width: 16px; height: 16px; } 
.sprite-mp3{ background-position: -522px 0; width: 16px; height: 16px; } 
.sprite-mp4{ background-position: -540px 0; width: 16px; height: 16px; } 
.sprite-mpg{ background-position: -558px 0; width: 16px; height: 16px; } 
.sprite-odf{ background-position: -576px 0; width: 16px; height: 16px; } 
.sprite-ods{ background-position: -594px 0; width: 16px; height: 16px; } 
.sprite-odt{ background-position: -612px 0; width: 16px; height: 16px; } 
.sprite-otp{ background-position: -630px 0; width: 16px; height: 16px; } 
.sprite-ots{ background-position: -648px 0; width: 16px; height: 16px; } 
.sprite-ott{ background-position: -666px 0; width: 16px; height: 16px; } 
.sprite-pdf{ background-position: -684px 0; width: 16px; height: 16px; } 
.sprite-php{ background-position: -702px 0; width: 16px; height: 16px; } 
.sprite-png{ background-position: -720px 0; width: 16px; height: 16px; } 
.sprite-ppt{ background-position: -738px 0; width: 16px; height: 16px; } 
.sprite-psd{ background-position: -756px 0; width: 16px; height: 16px; } 
.sprite-py{ background-position: -774px 0; width: 16px; height: 16px; } 
.sprite-qt{ background-position: -792px 0; width: 16px; height: 16px; } 
.sprite-rar{ background-position: -810px 0; width: 16px; height: 16px; } 
.sprite-rb{ background-position: -828px 0; width: 16px; height: 16px; } 
.sprite-rtf{ background-position: -846px 0; width: 16px; height: 16px; } 
.sprite-sql{ background-position: -864px 0; width: 16px; height: 16px; } 
.sprite-tga{ background-position: -882px 0; width: 16px; height: 16px; } 
.sprite-tgz{ background-position: -900px 0; width: 16px; height: 16px; } 
.sprite-tiff{ background-position: -918px 0; width: 16px; height: 16px; } 
.sprite-txt{ background-position: -936px 0; width: 16px; height: 16px; } 
.sprite-wav{ background-position: -954px 0; width: 16px; height: 16px; } 
.sprite-xls{ background-position: -972px 0; width: 16px; height: 16px; } 
.sprite-xlsx{ background-position: -990px 0; width: 16px; height: 16px; } 
.sprite-xml{ background-position: -1008px 0; width: 16px; height: 16px; } 
.sprite-yml{ background-position: -1026px 0; width: 16px; height: 16px; } 
.sprite-zip{ background-position: -1044px 0; width: 16px; height: 16px; }
.sprite-_blank-32{ background-position: 0 0; width: 32px; height: 32px; } 
.sprite-_page-32{ background-position: -34px 0; width: 32px; height: 32px; } 
.sprite-aac-32{ background-position: -68px 0; width: 32px; height: 32px; } 
.sprite-ai-32{ background-position: -102px 0; width: 32px; height: 32px; } 
.sprite-aiff-32{ background-position: -136px 0; width: 32px; height: 32px; } 
.sprite-avi-32{ background-position: -170px 0; width: 32px; height: 32px; } 
.sprite-bmp-32{ background-position: -204px 0; width: 32px; height: 32px; } 
.sprite-c-32{ background-position: -238px 0; width: 32px; height: 32px; } 
.sprite-cpp-32{ background-position: -272px 0; width: 32px; height: 32px; } 
.sprite-css-32{ background-position: -306px 0; width: 32px; height: 32px; } 
.sprite-dat-32{ background-position: -340px 0; width: 32px; height: 32px; } 
.sprite-dmg-32{ background-position: -374px 0; width: 32px; height: 32px; } 
.sprite-doc-32{ background-position: -408px 0; width: 32px; height: 32px; } 
.sprite-dotx-32{ background-position: -442px 0; width: 32px; height: 32px; } 
.sprite-dwg-32{ background-position: -476px 0; width: 32px; height: 32px; } 
.sprite-dxf-32{ background-position: -510px 0; width: 32px; height: 32px; } 
.sprite-eps-32{ background-position: -544px 0; width: 32px; height: 32px; } 
.sprite-exe-32{ background-position: -578px 0; width: 32px; height: 32px; } 
.sprite-flv-32{ background-position: -612px 0; width: 32px; height: 32px; } 
.sprite-gif-32{ background-position: -646px 0; width: 32px; height: 32px; } 
.sprite-h-32{ background-position: -680px 0; width: 32px; height: 32px; } 
.sprite-hpp-32{ background-position: -714px 0; width: 32px; height: 32px; } 
.sprite-html-32{ background-position: -748px 0; width: 32px; height: 32px; } 
.sprite-ics-32{ background-position: -782px 0; width: 32px; height: 32px; } 
.sprite-iso-32{ background-position: -816px 0; width: 32px; height: 32px; } 
.sprite-java-32{ background-position: -850px 0; width: 32px; height: 32px; } 
.sprite-jpg-32{ background-position: -884px 0; width: 32px; height: 32px; } 
.sprite-key-32{ background-position: -918px 0; width: 32px; height: 32px; } 
.sprite-mid-32{ background-position: -952px 0; width: 32px; height: 32px; } 
.sprite-mp3-32{ background-position: -986px 0; width: 32px; height: 32px; } 
.sprite-mp4-32{ background-position: -1020px 0; width: 32px; height: 32px; } 
.sprite-mpg-32{ background-position: -1054px 0; width: 32px; height: 32px; } 
.sprite-odf-32{ background-position: -1088px 0; width: 32px; height: 32px; } 
.sprite-ods-32{ background-position: -1122px 0; width: 32px; height: 32px; } 
.sprite-odt-32{ background-position: -1156px 0; width: 32px; height: 32px; } 
.sprite-otp-32{ background-position: -1190px 0; width: 32px; height: 32px; } 
.sprite-ots-32{ background-position: -1224px 0; width: 32px; height: 32px; } 
.sprite-ott-32{ background-position: -1258px 0; width: 32px; height: 32px; } 
.sprite-pdf-32{ background-position: -1292px 0; width: 32px; height: 32px; } 
.sprite-php-32{ background-position: -1326px 0; width: 32px; height: 32px; } 
.sprite-png-32{ background-position: -1360px 0; width: 32px; height: 32px; } 
.sprite-ppt-32{ background-position: -1394px 0; width: 32px; height: 32px; } 
.sprite-psd-32{ background-position: -1428px 0; width: 32px; height: 32px; } 
.sprite-py-32{ background-position: -1462px 0; width: 32px; height: 32px; } 
.sprite-qt-32{ background-position: -1496px 0; width: 32px; height: 32px; } 
.sprite-rar-32{ background-position: -1530px 0; width: 32px; height: 32px; } 
.sprite-rb-32{ background-position: -1564px 0; width: 32px; height: 32px; } 
.sprite-rtf-32{ background-position: -1598px 0; width: 32px; height: 32px; } 
.sprite-sql-32{ background-position: -1632px 0; width: 32px; height: 32px; } 
.sprite-tga-32{ background-position: -1666px 0; width: 32px; height: 32px; } 
.sprite-tgz-32{ background-position: -1700px 0; width: 32px; height: 32px; } 
.sprite-tiff-32{ background-position: -1734px 0; width: 32px; height: 32px; } 
.sprite-txt-32{ background-position: -1768px 0; width: 32px; height: 32px; } 
.sprite-wav-32{ background-position: -1802px 0; width: 32px; height: 32px; } 
.sprite-xls-32{ background-position: -1836px 0; width: 32px; height: 32px; } 
.sprite-xlsx-32{ background-position: -1870px 0; width: 32px; height: 32px; } 
.sprite-xml-32{ background-position: -1904px 0; width: 32px; height: 32px; } 
.sprite-yml-32{ background-position: -1938px 0; width: 32px; height: 32px; } 
.sprite-zip-32{ background-position: -1972px 0; width: 32px; height: 32px; } 
.sprite-_blank-48{ background-position: 0 0; width: 48px; height: 48px; } 
.sprite-_page-48{ background-position: -50px 0; width: 48px; height: 48px; } 
.sprite-aac-48{ background-position: -100px 0; width: 48px; height: 48px; } 
.sprite-ai-48{ background-position: -150px 0; width: 48px; height: 48px; } 
.sprite-aiff-48{ background-position: -200px 0; width: 48px; height: 48px; } 
.sprite-avi-48{ background-position: -250px 0; width: 48px; height: 48px; } 
.sprite-bmp-48{ background-position: -300px 0; width: 48px; height: 48px; } 
.sprite-c-48{ background-position: -350px 0; width: 48px; height: 48px; } 
.sprite-cpp-48{ background-position: -400px 0; width: 48px; height: 48px; } 
.sprite-css-48{ background-position: -450px 0; width: 48px; height: 48px; } 
.sprite-dat-48{ background-position: -500px 0; width: 48px; height: 48px; } 
.sprite-dmg-48{ background-position: -550px 0; width: 48px; height: 48px; } 
.sprite-doc-48{ background-position: -600px 0; width: 48px; height: 48px; } 
.sprite-dotx-48{ background-position: -650px 0; width: 48px; height: 48px; } 
.sprite-dwg-48{ background-position: -700px 0; width: 48px; height: 48px; } 
.sprite-dxf-48{ background-position: -750px 0; width: 48px; height: 48px; } 
.sprite-eps-48{ background-position: -800px 0; width: 48px; height: 48px; } 
.sprite-exe-48{ background-position: -850px 0; width: 48px; height: 48px; } 
.sprite-flv-48{ background-position: -900px 0; width: 48px; height: 48px; } 
.sprite-gif-48{ background-position: -950px 0; width: 48px; height: 48px; } 
.sprite-h-48{ background-position: -1000px 0; width: 48px; height: 48px; } 
.sprite-hpp-48{ background-position: -1050px 0; width: 48px; height: 48px; } 
.sprite-html-48{ background-position: -1100px 0; width: 48px; height: 48px; } 
.sprite-ics-48{ background-position: -1150px 0; width: 48px; height: 48px; } 
.sprite-iso-48{ background-position: -1200px 0; width: 48px; height: 48px; } 
.sprite-java-48{ background-position: -1250px 0; width: 48px; height: 48px; } 
.sprite-jpg-48{ background-position: -1300px 0; width: 48px; height: 48px; } 
.sprite-key-48{ background-position: -1350px 0; width: 48px; height: 48px; } 
.sprite-mid-48{ background-position: -1400px 0; width: 48px; height: 48px; } 
.sprite-mp3-48{ background-position: -1450px 0; width: 48px; height: 48px; } 
.sprite-mp4-48{ background-position: -1500px 0; width: 48px; height: 48px; } 
.sprite-mpg-48{ background-position: -1550px 0; width: 48px; height: 48px; } 
.sprite-odf-48{ background-position: -1600px 0; width: 48px; height: 48px; } 
.sprite-ods-48{ background-position: -1650px 0; width: 48px; height: 48px; } 
.sprite-odt-48{ background-position: -1700px 0; width: 48px; height: 48px; } 
.sprite-otp-48{ background-position: -1750px 0; width: 48px; height: 48px; } 
.sprite-ots-48{ background-position: -1800px 0; width: 48px; height: 48px; } 
.sprite-ott-48{ background-position: -1850px 0; width: 48px; height: 48px; } 
.sprite-pdf-48{ background-position: -1900px 0; width: 48px; height: 48px; } 
.sprite-php-48{ background-position: -1950px 0; width: 48px; height: 48px; } 
.sprite-png-48{ background-position: 0 -50px; width: 48px; height: 48px; } 
.sprite-ppt-48{ background-position: -50px -50px; width: 48px; height: 48px; } 
.sprite-psd-48{ background-position: -100px -50px; width: 48px; height: 48px; } 
.sprite-py-48{ background-position: -150px -50px; width: 48px; height: 48px; } 
.sprite-qt-48{ background-position: -200px -50px; width: 48px; height: 48px; } 
.sprite-rar-48{ background-position: -250px -50px; width: 48px; height: 48px; } 
.sprite-rb-48{ background-position: -300px -50px; width: 48px; height: 48px; } 
.sprite-rtf-48{ background-position: -350px -50px; width: 48px; height: 48px; } 
.sprite-sql-48{ background-position: -400px -50px; width: 48px; height: 48px; } 
.sprite-tga-48{ background-position: -450px -50px; width: 48px; height: 48px; } 
.sprite-tgz-48{ background-position: -500px -50px; width: 48px; height: 48px; } 
.sprite-tiff-48{ background-position: -550px -50px; width: 48px; height: 48px; } 
.sprite-txt-48{ background-position: -600px -50px; width: 48px; height: 48px; } 
.sprite-wav-48{ background-position: -650px -50px; width: 48px; height: 48px; } 
.sprite-xls-48{ background-position: -700px -50px; width: 48px; height: 48px; } 
.sprite-xlsx-48{ background-position: -750px -50px; width: 48px; height: 48px; } 
.sprite-xml-48{ background-position: -800px -50px; width: 48px; height: 48px; } 
.sprite-yml-48{ background-position: -850px -50px; width: 48px; height: 48px; } 
.sprite-zip-48{ background-position: -900px -50px; width: 48px; height: 48px; }
.sprite-_blank-64{ background-position: 0 0; width: 64px; height: 64px; } 
.sprite-_page-64{ background-position: -65px 0; width: 64px; height: 64px; } 
.sprite-aac-64{ background-position: -130px 0; width: 64px; height: 64px; } 
.sprite-ai-64{ background-position: -195px 0; width: 64px; height: 64px; } 
.sprite-aiff-64{ background-position: -260px 0; width: 64px; height: 64px; } 
.sprite-avi-64{ background-position: -325px 0; width: 64px; height: 64px; } 
.sprite-bmp-64{ background-position: -390px 0; width: 64px; height: 64px; } 
.sprite-c-64{ background-position: -455px 0; width: 64px; height: 64px; } 
.sprite-cpp-64{ background-position: -520px 0; width: 64px; height: 64px; } 
.sprite-css-64{ background-position: -585px 0; width: 64px; height: 64px; } 
.sprite-dat-64{ background-position: -650px 0; width: 64px; height: 64px; } 
.sprite-dmg-64{ background-position: -715px 0; width: 64px; height: 64px; } 
.sprite-doc-64{ background-position: -780px 0; width: 64px; height: 64px; } 
.sprite-dotx-64{ background-position: -845px 0; width: 64px; height: 64px; } 
.sprite-dwg-64{ background-position: -910px 0; width: 64px; height: 64px; } 
.sprite-dxf-64{ background-position: -975px 0; width: 64px; height: 64px; } 
.sprite-eps-64{ background-position: -1040px 0; width: 64px; height: 64px; } 
.sprite-exe-64{ background-position: -1105px 0; width: 64px; height: 64px; } 
.sprite-flv-64{ background-position: -1170px 0; width: 64px; height: 64px; } 
.sprite-gif-64{ background-position: -1235px 0; width: 64px; height: 64px; } 
.sprite-h-64{ background-position: -1300px 0; width: 64px; height: 64px; } 
.sprite-hpp-64{ background-position: -1365px 0; width: 64px; height: 64px; } 
.sprite-html-64{ background-position: -1430px 0; width: 64px; height: 64px; } 
.sprite-ics-64{ background-position: -1495px 0; width: 64px; height: 64px; } 
.sprite-iso-64{ background-position: -1560px 0; width: 64px; height: 64px; } 
.sprite-java-64{ background-position: -1625px 0; width: 64px; height: 64px; } 
.sprite-jpg-64{ background-position: -1690px 0; width: 64px; height: 64px; } 
.sprite-key-64{ background-position: -1755px 0; width: 64px; height: 64px; } 
.sprite-mid-64{ background-position: -1820px 0; width: 64px; height: 64px; } 
.sprite-mp3-64{ background-position: -1885px 0; width: 64px; height: 64px; } 
.sprite-mp4-64{ background-position: -1950px 0; width: 64px; height: 64px; } 
.sprite-mpg-64{ background-position: 0 -65px; width: 64px; height: 64px; } 
.sprite-odf-64{ background-position: -65px -65px; width: 64px; height: 64px; } 
.sprite-ods-64{ background-position: -130px -65px; width: 64px; height: 64px; } 
.sprite-odt-64{ background-position: -195px -65px; width: 64px; height: 64px; } 
.sprite-otp-64{ background-position: -260px -65px; width: 64px; height: 64px; } 
.sprite-ots-64{ background-position: -325px -65px; width: 64px; height: 64px; } 
.sprite-ott-64{ background-position: -390px -65px; width: 64px; height: 64px; } 
.sprite-pdf-64{ background-position: -455px -65px; width: 64px; height: 64px; } 
.sprite-php-64{ background-position: -520px -65px; width: 64px; height: 64px; } 
.sprite-png-64{ background-position: -585px -65px; width: 64px; height: 64px; } 
.sprite-ppt-64{ background-position: -650px -65px; width: 64px; height: 64px; } 
.sprite-psd-64{ background-position: -715px -65px; width: 64px; height: 64px; } 
.sprite-py-64{ background-position: -780px -65px; width: 64px; height: 64px; } 
.sprite-qt-64{ background-position: -845px -65px; width: 64px; height: 64px; } 
.sprite-rar-64{ background-position: -910px -65px; width: 64px; height: 64px; } 
.sprite-rb-64{ background-position: -975px -65px; width: 64px; height: 64px; } 
.sprite-rtf-64{ background-position: -1040px -65px; width: 64px; height: 64px; } 
.sprite-sql-64{ background-position: -1105px -65px; width: 64px; height: 64px; } 
.sprite-tga-64{ background-position: -1170px -65px; width: 64px; height: 64px; } 
.sprite-tgz-64{ background-position: -1235px -65px; width: 64px; height: 64px; } 
.sprite-tiff-64{ background-position: -1300px -65px; width: 64px; height: 64px; } 
.sprite-txt-64{ background-position: -1365px -65px; width: 64px; height: 64px; } 
.sprite-wav-64{ background-position: -1430px -65px; width: 64px; height: 64px; } 
.sprite-xls-64{ background-position: -1495px -65px; width: 64px; height: 64px; } 
.sprite-xlsx-64{ background-position: -1560px -65px; width: 64px; height: 64px; } 
.sprite-xml-64{ background-position: -1625px -65px; width: 64px; height: 64px; } 
.sprite-yml-64{ background-position: -1690px -65px; width: 64px; height: 64px; } 
.sprite-zip-64{ background-position: -1755px -65px; width: 64px; height: 64px; }